---
tags: ["blog"]
title: Kick Off
date: 2022-11-11
teaser: This is the first blog post titled "Kick Off"!
---

This weekend, we were outside laying cardboard and compost in both meadows by the walking trails. Thanks to everyone who donated time, supplies or money to kick off the project.

<div style="display:flex;justify-content:center;">
<video width="320" height="240" controls>
  <source src="/img/wildflower.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
