---
layout: base.njk
templateEngineOverride: md, njk
---


<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<style>
.netlify-identity-menu {
    list-style-type: none;
}
.netlify-identity-signup {
  text-decoration: none;
}
.netlify-identity-login {
  text-decoration: none;
}
</style>

<main style="text-align: center;">
<h1>The Pines WildFlower Project</h1>
<p>Develop and Manage neighborhood green spaces to include more native plants, pollinators and native wildlife</p>
   <div data-netlify-identity-menu></div>
</main>

